.main-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 12px;
}